*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: s;
}
body{
    min-height: 100vh;
    width: 100%;
    background:  hsla(0, 0%, 20%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 80%;
    background:hsla(31, 17%, 44%, 1);
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px hsla(31, 17%, 36%, 1);
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: hsla(30, 30%, 58%, 1);
}
.content .left-side .details{
    margin: 14px;
    text-align: center;
}
.content .left-side .details i{
    font-size: 30px;
    color: hsla(30, 30%, 58%, 1);
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 18px ;
    font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
    font-size: 14px;
    color: rgb(223, 193, 161);
}
.container .content .right-side{
    width: 75%;
    margin-left: 75px;
}
.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: hsla(30, 30%, 58%, 1);
}
.right-side .input-box{
    height:50px;
    width: 100%;
    margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea
    {
    height:100%;
    width: 100%;
    border: none; 
    font-size: 16px;
    border-radius: 6px;
    background: hsla(31, 17%, 36%, 1);
    padding: 0 15px;
    resize: none;
}
.right-side .message-box{
    min-height: 110px;
}
.right-side .button{
    margin-top: 12px;
    display: inline-block;
}
.right-side .button input[type="button"]{
    color: rgb(128, 112, 96);
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    background: hsla(30, 30%, 58%, 1);
    transition: all 0.3s ease;
    cursor: pointer;
}
.button input[type="button"]:hover{
    background: rgb(255, 243, 230);
    color: rgb(88, 76, 65);
}
@media(max-width:950px){
    .container{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}
@media(max-width:950px){
    .container{
        margin: 40px 0;
        height: 100%;
    }
    .container .content{
        flex-direction: column-reverse;
    }
    .container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .content .left-side::before{
        display: none;
    }
    .container .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}